.header{
  color: white;
  height: 40px;
  font-size: 34px;
  background-color: rgb(152, 164, 242);
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg{
    position: absolute;
  }

  p{
    width: 100%;
    text-align: center;
  }
}