.content{
  width: 80%;
  margin: auto;
}

.homeNoteTitles{
  width: 200px;
  height: 300px;
  float: left;
  margin: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.2);

  a {
    color: white;
    text-decoration: none;
  }

  svg{
    color: white;
  }
}

.homeNoteTitles:nth-child(odd){
  background-color: #F59D7B;
}

.homeNoteTitles:nth-child(even){
  background: #F8D28D;
}
