.submit{
  background-color: rgb(255, 68, 120);
}

.submit:disabled{
  background-color: darken(rgb(255, 68, 120), 20%);
}

.createNote{
  width: 50%;
  margin: auto;

  h1{
    text-align: center;
  }
  input{
    width: 100%;
    height: 30px;
  }
  textarea{
    width: 100%;
    height: 200px;
  }
  button{
    width: 20%;
    height: 30px;
    margin: 20px 0px 0px 20%;
  }
}